
@{
    ViewBag.Title = "Http404";
}
<br />
<div class="container">
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Opps!</h4>
        @ViewBag.ErrorDescription
    </div>
</div>

