.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p, h1, h2, h3, h4, h5, h6, span {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-white {
    color: #e6e6e6;
}

a {
    color: #db333f;
}

.navbar-inverse {
    /*background-color: rgba(7, 13, 16, 0.95);*/
    background-color: rgba(32,61,76,.95);
    border-bottom: 3px solid #db333f;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 0;
}

#navbar ul li:hover {
    background-color: #db333f;
}

#navbar ul li {
    /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.evento-item {
    /* position: relative; */
    border: 2px solid #e6e6e6;
    /* margin-bottom: 20px; */
    float: left;
    color: #666666;
    width: 100%;
    font-size: 13px;
    /* line-height: 1.6em; */
}

.evento-info {
    position: absolute;
    bottom: 5px;
}

.evento-item .evento-info {
    position: absolute;
    bottom: 5px;
}

.evento-item h5 {
    font-size: 15px;
    padding-right: 4px;
    line-height: 1.3em;
}

.evento-item .fa {
    width: 20px;
}

.evento-item .col-xs-4 {
    padding: 0 !important;
    padding-bottom: 0;
    margin-right: 10px;
}

@media (min-width: 991px) {
    .evento-item .tag-modalidade, .evento-item .tag-curso, .evento-item .tag-confronto, .evento-item .tag-mma {
        bottom: 0;
        right: auto;
        left: 0 !important;
    }

    .modo-lista .evento-item .tag-modalidade, .modo-lista .evento-item .tag-curso, .modo-lista .evento-item .tag-confronto, .modo-lista .evento-item .tag-mma {
        bottom: 0;
        right: 0 !important;
        left: auto !important;
    }
}

@media(min-width: 1460px) {
    .container {
        width: 1380px;
    }
}

@media(min-width: 1530px) {
    .container {
        width: 1490px;
    }
}

@media(min-width: 2020px) {
    .container {
        width: 1590px;
    }
}

@media (max-width: 767px) {
    .evento-item .col-xs-3 {
        width: 35%;
    }

    .evento-item h5 {
        font-size: 16px;
    }

    .evento-item .tag-modalidade, .evento-item .tag-curso, .evento-item .tag-confronto, .evento-item .tag-mma {
        display: none;
    }
}

@media (max-width: 450px) {
    .evento-item .col-xs-3 {
        width: 100%;
        margin-bottom: 10px;
    }

    .evento-item .evento-info .fa {
        margin-left: 10px;
    }

    .evento-acoes ul li {
        font-size: 11px !important;
        padding: 3px 0px 8px 3px;
    }

    .evento-item h5 {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .evento-item .evento-info {
        margin-top: 20px;
        position: relative;
    }

        .evento-item .evento-info .fa {
            margin-left: 10px;
        }

        .evento-item .evento-info p {
            margin-left: 10px;
            margin-top: 15px;
        }
}

@media (max-width: 320px) {
    .evento-item h5 {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .evento-item .col-xs-5 {
        width: 100%;
        margin-bottom: 10px;
    }

    .evento-item .col-xs-3 {
        width: 100%;
        margin-bottom: 10px;
    }

    .evento-item .evento-info {
        margin-top: 20px;
        position: relative;
    }

        .evento-item .evento-info .fa {
            margin-left: 10px;
        }

        .evento-item .evento-info p {
            margin-left: 10px;
            margin-top: 15px;
        }
}

.evento-item .col-xs-3 {
    padding: 0 !important;
    padding-bottom: 0;
    margin-right: 10px;
}

.itemFiltro {
    margin-bottom: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
    background-color: #1a1a1a;
    color: #cfcfcf;
}

    .footer h3 {
        color: #db333f;
    }

    .footer ul {
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

        .footer ul a {
            color: #cfcfcf;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            /* ...and now for the proper property */
            transition: .5s;
        }

            .footer ul a:hover {
                color: #db333f;
            }

.widget-user-2 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}

.widget-user-2 .widget-user-header {
    padding: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.blocoResult {
    /*border:2px solid #666666;*/
    padding: 10px 0 !important;
}

.blocoResult-2 {
    border: 2px solid #666666;
    padding: 10px 0px !important;
}

.tituloBlocoResult {
    font-size: 16px;
    margin-top: 0;
}

.footer p a, .footer p a:visited {
    line-height: inherit;
}

.footer .fa {
    color: #dcdcdc;
    text-align: center !important;
    padding-top: 6px;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    border: 2px solid #dcdcdc;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
}

    .footer .fa:hover {
        color: #1a1a1a;
        background: #dc333f;
        border: 2px solid #dc333f;
    }

.filtro .box {
    border: none;
}

.footer a:hover {
    color: #db333f;
    text-decoration: none;
}

.product-title {
    color: #b30000;
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #a54c4c;
}

.footer-2 {
    padding: 15px 0;
    vertical-align: bottom !important;
    background: #000;
}

    .footer-2 p {
        font-weight: 600;
        display: inline;
        padding: 0 15px;
        padding-top: 20px !important;
        vertical-align: bottom;
    }

    .footer-2 a:hover {
        color: #fff;
    }

    .footer-2 a {
        color: #aaa;
    }

.navbar-brand img {
    width: auto;
}

@media (max-width: 767px) {
    .navbar-brand > img {
        height: 50px;
    }

    .navbar-nav {
        margin-top: 0;
    }

    .container > .navbar-header {
        height: 80px;
    }

    .navbar-inverse {
        background-color: rgba(32,61,76,.98);
    }

    .nav-bar-inverse .navbar-form .row {
        margin: 20px;
    }

    .navbar-nav > li > a {
        border-bottom: none;
    }

    .navbar-add-info {
        width: 100%;
        padding-right: 60px;
    }

        .navbar-add-info .display-none-767 {
            display: none;
        }

    .navbar-inverse .navbar-collapse .navbar-form .row {
        padding: 0 20px;
    }
}

.navbar-collapse {
    max-height: 100% !important;
}



/* ######### HEADERS SECUNDÃRIOS */
.header-gap {
    margin-top: 104px;
}

.header-cinza {
    background: #ebebeb;
    border-bottom: 2px solid #a9a9a9;
    color: #4d4d4d;
    padding: 0 0 10px 0;
    margin-bottom: 30px;
}

.header-cinza-right-text p {
    margin-top: 26px;
}

.header-cinza-right-text .fa {
    color: #777;
    font-size: 15px;
    margin-right: 5px;
}

@media (max-width: 867px) {
    .header-gap {
        margin-top: 82px;
    }

    .header-cinza-right-text p {
        text-align: left;
        margin-top: 5px;
    }
}

@media (min-width: 868px) and (max-width: 991px) {
    .header-cinza-right-text p {
        text-align: left;
        margin-top: 5px;
    }
}

.header-azul {
    height: 400px;
    margin-top: -108px;
    padding-top: 108px;
    margin-bottom: 30px;
    color: #fff;
    vertical-align: bottom;
    position: relative;
}

.header-vermelho {
    height: 400px;
    margin-top: 108px;
    padding-top: 108px;
}

.header-azul .container .row {
    bottom: 60px;
    position: absolute;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.header-azul .container .row-fluid {
    bottom: 60px;
    position: absolute;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.header-azul p {
    color: #fff;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
    width: 100%;
}

.header-azul h1 {
    margin-top: 0;
}

/*.navbar-add-info {
    color: #fff;
    position: absolute;
    margin-top: 5px;
    font-weight: 300;
}*/

.box-gray-2 {
    margin-top: 40px;
    margin-bottom: -20px;
    background-color: #e6e6e6;
    padding-top: 20px;
    padding-bottom: 50px;
    color: rgba(32,61,76,1);
}

    .box-gray-2 .arrow-up {
        border-bottom: 20px solid #e6e6e6 !important;
        margin-top: -40px;
    }

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #1a1a1a;
}

.title-v1-vermelho {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

    .title-v1-vermelho h3 {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 15px;
        margin-top: 0;
        color: #dc333f;
    }

.ilutas-red, .ilutas-b-login-color {
    color: #dc333f;
}

h2, .h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}

h3, .h3 {
    /*text-transform: uppercase;*/
    font-weight: 600;
    /*font-style: italic;*/
    font-size: 24px;
}

h6, .h6 {
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

h1, .h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    font-size: 46px;
}

.title-v1-vermelho h3:after {
    left: 50%;
    z-index: 1;
    width: 60px;
    height: 1px;
    content: " ";
    bottom: -7px;
    position: absolute;
    background: #dc333f;
    margin-left: -30px;
}

.tituloSobreP {
    color: #fff;
}

.nav-stacked > li.active > a, .nav-stacked > li.active > a:active {
    color: #db333f;
    border-top: 0;
    border-left-color: none;
    background-color: transparent;
}

    .nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {
        background: transparent;
        border-top: 0;
        border-left-color: transparent !important;
    }

        .nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {
            color: #db333f;
            border-top: 0;
            border-left-color: none;
            background-color: transparent;
        }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #db333f;
    background-color: transparent !important;
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:active {
        color: #db333f;
        background-color: transparent;
    }

/*.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {
        background: transparent;
        color: #444;
        border-top: 0;
        border-left-color: #3c8dbc;
    }*/
.display-none {
    margin: 0;
}

@media(max-width: 767px) {
    .display-none {
        display: none;
    }
    .detalhe-evento .col-xs-3 {
        width: 20px;
        text-align: left;
    }

    .detalhe-evento .col-xs-9 {
        width: 93%;
    }
}

.bg-white {
    background-color: rgb(236, 236, 236);
    border-bottom: 1px solid #e1e1e1;
}

.no-padding {
    padding: 0;
}

.no-padding-height {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padding-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin {
    margin: 0;
}

.no-margin-height {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-margin-side {
    margin-left: 0 !important;
    margin-right: 0 !important;
}



.scheme_1 .list_links a:hover {
    color: #fff;
    background: #fc4747;
}

.scheme_1 .submenu_linklist_wrap {
    position: relative;
    background: #4fcbdd;
    padding: 16px 0px;
}

.scheme_1 .page_container {
    max-width: 2048px;
    margin: 0 auto;
    background: #383535;
}
